.dc-layout {
  min-height: 100vh;
  color: #333;
  font-size: 14px;
  background-color: rgb(248, 248, 250);
  background-image: linear-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 10%);
  display: grid;
  grid-template:
    'head head head' 64px
    'sidebar main main'/ 240px 1fr;

  &__header {
    top: 0px;
    position: sticky;
    background-color: transparent;
    backdrop-filter: blur(6px);
    z-index: 950;
    border-bottom: 1px solid rgba(5, 5, 5, 0.06);
    grid-area: head;
    align-self: stretch;
    padding: 0 24px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__logo{
      color: rgba(42, 46, 54, 0.88);
      font-size: 22px;
      line-height: 1;
      font-weight: 500;
      margin-right: 48px;
    }
  }
  &__main {
    grid-area: main;
    margin: 20px;
    background-color: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: 0 8px 24px #0000000d;
  }

  &__aside {
    grid-area: sidebar;
    overflow: auto;
    position: sticky;
    top: 64px;
    max-height: calc(100vh - 64px);
    padding-top: 20px;
    padding-bottom: 24px;
    padding-inline: 16px;
    border-right: 1px solid rgba(5, 5, 5, 0.06);
    .el-menu {
      border-right: none;
      background-color: transparent;
    }
    .el-menu-item,.el-sub-menu__title{
      height: auto;
      line-height: 1.6;
      padding: 8px 12px;
      border-radius: 6px;
      text-decoration: none;
      transition: all 0.1s ease 0s;
      color: rgba(42, 46, 54, 0.65);
      &:hover{
        color: rgba(42, 46, 54, 0.88);
        background: rgba(42, 46, 54, 0.04);
      }
    }
    .el-menu-item.is-active{
      color: rgb(37, 59, 125);
      background: rgb(210, 229, 255);
      &:hover{
        color: rgb(47, 76, 167);
        background: rgb(176, 208, 255);
      }
    }
  }
}
